<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Property</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>
<body>
    <h1>Book Property</h1>
    <form method="POST">
        <label for="booked_date">Booked Date:</label>
        <input type="date" id="booked_date" name="booked_date" required>
        <input type="submit" id="bookPropertyBtn" value="Submit">
    </form>
</body>
</html>
