* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat-black", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* ----------------------------- Navbar ---------------------------- */

.navbar {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.nav-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  line-height: 0.8;
  margin-left: -20%;
  color: #323644;
  text-decoration: none;
  /* font-weight: bolder; */
}

.nav-items {
  list-style-type: none;
  display: flex; /* Display items horizontally */
  margin-right: 20%;
  align-items: flex-start; /* Align items to the start */
}

.nav-items li {
  margin-right: 33px;
  padding: 10px 0;
}

.nav-items li:last-child {
  margin-right: 0;
}

.nav-items a {
  color: #323644;
  text-decoration: none;
}

.sell-property {
  margin-left: auto;
}

.navbar img {
  margin-left: 20%;
  margin-right: 0;
  width: auto;
  padding: 0;
}

/* ----------------------------- Sell Property ---------------------------- */

#sell-property {
  margin: 5% 20%;
  color: #323644;
}

#property_description {
  width: 50%;
  height: 150px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
  font-weight: 400;
}

.sell-form label {
  color: #323644;
  font-size: 1vw;
  font-weight: 700;
}

.property-btn {
  background-color: transparent;
  color: #323644;
  border: solid #323644;
  padding: 0.4vw 2.2vw;
  font-size: 1vw;
  font-weight: 800;
}

/* ----------------------------- Footer ---------------------------- */

.footer {
  display: flex;
  justify-content: space-between;
  background-color: #323644;
  color: #9396a2;
  padding: 50px 150px;
  box-sizing: border-box;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: medium;
  line-height: 0.8;
}

.contact-form address {
  margin-bottom: 10px;
  font-size: medium;
}

.contact-form small {
  padding-top: 100px;
  font-size: large;
}

.contact-info h4,
.contact-form h4 {
  margin-bottom: 30px;
  font-size: medium;
  line-height: 1.5;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 0%;
}

.contact-form button {
  padding: 1px 20px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #005f73;
}
